<!DOCTYPE>
<html>
  <head>
    <title>Joh Yoshida</title>
    <!-- Semantic UI -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/main.css"> -->
    <script src="semantic/dist/semantic.min.js"></script>
  </head>
  <body>
    <nav class="ui padded grid">
      <ul class="right floated three wide column">
        <% if(!currentUser){ %>
          <a class="ui button" href="/login">Login</a>
          <a class="ui button" href="/register">Sign Up</a>
        <% } else {%>
        <li><a href="#">Signed in as <%= currentUser.username %></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>
    </nav>
