<!DOCTYPE>
<html>
  <head>
    <title>Joh Yoshida</title>
    <!-- Semantic UI -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/main.css"> -->
    <script src="semantic/dist/semantic.min.js"></script>
  </head>
  <body>
