<% ../include partials/header %>

<h1>Joh Yoshida</h1>

<div class="container">
  <a href="/journal">Journal</a>
</div>
<div class="container">
  <a href="/journal/new">New Journal Entry</a>
</div>

<% ../include partials/footer %>
