<% include partials/header %>

<h1>Joh Yoshida</h1>

<div class="ui button">
  <a href="/journal">Journal</a>
</div>
<div class="ui button">
  <a href="/journal/new">New Journal Entry</a>
</div>

<% include partials/footer %>
