<% include partials/header %>

<h1>Joh Yoshida</h1>

<a class="ui button" href="/journal">
  Journal
</a>
<a class="ui button" href="/journal/new">
  New Journal Entry
</a>

<% include partials/footer %>
